p {
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}

body {
    margin: 0;
    padding-top: 80px; /* Ensure main content doesn’t overlap with sidebar */
    padding-left: 100px; 
    padding-right: 25px;/* Adjust padding for sidebar width */
    background-color:rgb(250,250,250);
}
.home
{
    width:30px;
    top: 0;
    bottom: 0;
}